.more__info {
    margin-top: 60px;
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 61px;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 130px;
    display: inline-block;
}